* {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

@keyframes moveBlob {
    0% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(-100px, 80px) scale(1.2);
    }
    50% {
        transform: translate(120px, -60px) scale(0.9);
    }
    75% {
        transform: translate(-90px, 100px) scale(1.1);
    }
    100% {
        transform: translate(60px, -40px) scale(1);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slidedown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideright {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideleft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.blob {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #00ffff, #008b8b, #000000);
    opacity: 0.8;
    border-radius: 50%;
    filter: blur(180px);
    animation: moveBlob 12s infinite alternate ease-in-out;
}

.blob:nth-child(1) {
    top: 10%;
    left: 15%;
    animation-duration: 14s;
}

.blob:nth-child(2) {
    top: 40%;
    left: 60%;
    animation-duration: 10s;
}

.blob:nth-child(3) {
    top: 70%;
    left: 30%;
    animation-duration: 18s;
}

.blob:nth-child(4) {
    top: 25%;
    left: 75%;
    animation-duration: 16s;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.content-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(10px);
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    box-shadow: 8px 8px 10px black;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.content-header:hover {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

.content-header h2 {
    color: whitesmoke;
    margin: 0 0 0 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    list-style-type: none;
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav a:hover { color: cyan; }

.content {
    position: relative;
    opacity: 1;
    transform: scale(1) translateY(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: 200px;
    height: 50vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(10px);
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    box-shadow: 8px 8px 10px black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.content:hover {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

.content.scrolled {
    opacity: 0;
    transform: scale(0.5) translateY(-100px);
}

.content h2 { font-size: 3em; margin-bottom: 0px; }

.content p { font-size: 1.5em; line-height: 1.5; }

.content a {
    color: cyan;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.game-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 20px;
    margin-top: -30%;
    margin-bottom: 10%;
}

.game-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--hover-bg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; /* hidden by default */
    transition: opacity 1s ease;
    z-index: 0;
    border-radius: 20px; /* match parent shape */
}

.game-item:hover::before {
    opacity: 0.6; /* control your background opacity here */
}

.game-item {
    opacity: 0;
    scale: 0.5;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 300px;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    box-shadow: 8px 8px 10px black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    transition: background-size 0.3s ease, box-shadow 0.3s ease,
     opacity 0.3s ease, transform 0.3s ease, scale 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.game-item.visible {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
}

.game-item.hidden {
    opacity: 0;
    scale: 0.8;
    transform: translateY(100px);
}

.game-item:hover {
    background-size: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 260px;
    height: 450px;
}

.game-item h3, .game-item p { transition: opacity 0.5s ease; }
.game-item:hover h3, .game-item:hover p { opacity: 0; }
.game-item button {
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    color: whitesmoke;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.game-item:hover button {
    transform: translateY(30%);
    background-color: rgba(245, 245, 245, 0.666);
    color: #000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;    
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(10px);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer p { display: flex; margin-right: auto; }

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.footer a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer a:hover { color: cyan; }

